{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <h1>Вход</h1>
  <div class="module">
    {% if form.errors %}
      <p>Неверный логин или пароль. Пожалуйста, попробуйте снова.</p>
    {% else %}
      <p>Пожалуйста введите логин и пароль или <a href="{% url 'account_signup' %}">зарегистрируйтесь:</a></p>
    {% endif %}
    
    <div class="login-form">
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="hidden" name= "next" value="{{ next }}"/>
        <p><button type="submit" value="Войти" class="btn btn-success">Войти</button></p>
      </form>
      <p><a href="{% url 'account_reset_password' %}">Забыли пароль?</a></p>
    </div>
  </div>
{% endblock content %}


<a href="{% url 'account_reset_password' %}">Забыли пароль?</a>