{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}


{% block content %}
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h1 class="text-center mb-4">{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p class="text-center">{% blocktrans %}Мы отправили вам письмо на email. Если вы не получили письмо, проверьте папку спам. Свяжитесь с <a href="#">нами</a> если у вас возникли трудности.{% endblocktrans %}</p>
      </div>
    </div>
  </div>
{% endblock %}
