{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Смена паролья" %}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1>{% trans "Change Password" %}</h1>
        <div class="alert alert-success" role="alert">
          <p>{% trans 'Ваш пароль успешно изменен.' %}</p>
          Можете <a href="{% url 'account_login' %}">войти</a> с использованием нового пароля.
        </div>
      </div>
    </div>
  </div>
{% endblock %}
