{% extends "base.html" %}
{% load static %}
{% load el_pagination_tags %}

{# Страница полной истории чата #}

{% block title %}Чат для курса "{{ course.title }}"{% endblock %}

{% block content %}


<div class="row">

  {# SIDEBAR MODULES #}
   <div class="col-md-3">
      <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-secondary p-2 text-dark bg-opacity-10 sticky-md-top">
        <a href="#" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
          <span class="fs-5 fw-semibold"><i class="bi bi-stack"></i> Модули курса</span>
        </a>
        <div class="list-group list-group-flush border-bottom scrollarea">
          {% for m in course.modules.all %}
            <a href="{% url 'student_course_detail_module' course.id m.id %}"
               {% if m == module %} class="list-group-item list-group-item-action active py-3 lh-tight"
               {% else %} class="list-group-item list-group-item-action py-3 lh-tight" {% endif %} aria-current="true">

              <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">Модуль {{ m.order|add:1 }}</strong>
                <small> </small>
              </div>
              <div class="col-10 mb-1 small">
                {{ m.title|truncatechars:50 }}.
              </div>
            </a>
          {% empty %}
            Ничего нет
          {% endfor %}
        </div>
        <a href="{% url 'chat:course_chat_room' course.pk %}" class="list-group-item list-group-item-action py-3 lh-tight bg-success bg-opacity-25">
          <span class="fs-5 fw-semibold"><i class="bi bi-chat-dots"></i> Чат курса</span>
        </a>
      </div>
    </div>

  {# MAIN & CHAT #}
  <div class="col-md-9">
    {# navigation #}
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'student_course_list' %}">Мои курсы</a></li>
          {% if course.owner == request.user and course.modules.exists %}
            <li class="breadcrumb-item"><a href="{% url 'manage_course_list' %}">Управление курсами</a></li>
            <li class="breadcrumb-item"><a href="{% url 'module_content_list' course.modules.first.pk %}">Управление курсом</a></li>
          {% endif %}
          <li class="breadcrumb-item active" aria-current="page">{{ course.title }}</li>
        </ol>
      </nav>
      <h1 class="bg-info p-2 bg-opacity-10">
        История чата курса "{{ course.title }}"
      </h1>
    <div class="card chat-box">
      <div class="card-header bg-primary text-white">
        История чата курса "{{ course }}"
      </div>
      <div id="chat" class="card-body">
          {# Include 'message_list_page.html' (enless pagination library) #}
          {% lazy_paginate messages %}
          {% include page_template %}
          {% show_more %}
          {{ block.super }}
          <script src="http://code.jquery.com/jquery-latest.js"></script>
          <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
          <script>$.endlessPaginate({paginateOnScroll: true});</script>
      </div>
    </div>
  </div>
</div>


<!-- Modal message delete-->
<div class="modal fade" id="messageDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contentDeleteModalLabel">Удаление сообщения</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-body-confirm">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Нет</button>
        <form>
          {% csrf_token %}
          <button type="button" id="delete-content-button" class="btn btn-danger">Удалить</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock content %}


{% block include_js %}

  <script src="{% static 'js/chat/message_delete.js' %}" defer></script>

{% endblock %}