{% extends "base.html" %}
{% load static %}

{% block title %}Чат для курса "{{ course.title }}"{% endblock %}

{% block content %}

    <div class="col" id="chat">
      {% for message in messages %}
        <p>{{ message.user.get_full_name }}-{{ message.content }}-{{ message.created }}</p>
      {% endfor %}

    </div>


  <div class="row">
    <div class="row" id="chat-input">
      <input class="col-md-10" id="chat-message-input" type="text">
      <input class="col-md-2 btn btn-success" id="chat-message-submit" type="submit" value="Send">
    </div>
  </div>

{% endblock content %}


{% block include_js %}

  {# Отправка course.id и request.user json формата чтобы иметь возможность использовать значение в javaScript #}
  {{ course.id|json_script:"course-id" }}
  {{ request.user.username|json_script:"request-user" }}
  <script src="{% static 'js/chat/course_chat_room.js' %}" defer></script>

{% endblock %}