.scrollarea {
    overflow-y: auto;
    max-height: 80vh;
}

img {
    max-width: 100%;
    height: auto;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.not-visible {
    display: none;
}

.chat-body {
  max-height: 600px;
  height: 600px;
  overflow-y: auto;
}

/* CSS-класс для модального окна изображения с максимальной шириной и высотой */
.max-content-image-modal {
  max-width: 75%; /* Максимальная ширина модального окна */
  max-height: 75vh; /* Максимальная высота модального окна (90% высоты экрана) */
}

