.scrollarea {
    overflow-y: auto;
    max-height: 80vh;
}

img {
    max-width: 100%;
    height: auto;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.not-visible {
    display: none;
}

.chat-body {
  max-height: 600px;
  height: 600px;
  overflow-y: auto;
}

