{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  {% if object %}
    Редактирование курса "{{ object.title }}"
  {% else %}
    Создание нового курса
  {% endif %}
{% endblock title %}

{% block content %}
  <h1>
    {% if object %}
      Редактирование курса "{{ object.title }}"
    {% else %}
      Создание нового курса
    {% endif %}
  </h1>
  <div class="module">
    <h2>Информация курса</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <p><input class="btn btn-success" type="submit" value="Сохранить курс"></p>
    </form>
  </div>
{% endblock content%}