{% extends "base.html" %}

{% block title %}
  {{ object.title }}
{% endblock title %}

{% block content %}
  {% with subject=object.subject %}
    <h1>
      {{ object.title }}
    </h1>
    <div class="module">
      <h2>Обзор</h2>
      <p>
        <a href="{% url 'course_list_subject' subject.slug %}">
          {{ subject.title }}
        </a>
        Количество модулей - {{ course.total_modules }}.
        Преподователь - {{ course.owner.get_full_name }}.
      </p>
      {{ object.overview|linebreaks}}
      {% if request.user.is_authenticated %}
        <form action="{% url 'student_enroll_course' %}" method="post">
          {% csrf_token %}
          {{ enroll_form }}
          <input type="submit" value="Записаться">
        </form>
      {% else %}
        <a href="{% url 'user_registration' %}">Зарегистрируйтесь чтобы записаться</a>
      {% endif %}
    </div>
  {% endwith %}
{% endblock %}