{% extends "base.html" %}

{% block title %}
  {{ object.title }}
{% endblock title %}

{% block content %}

  {% with subject=object.subject %}
    <h1>
      {{ object.title }}
    </h1>
    <div class="module">
      <h2>Обзор</h2>
      <p>
        <a href="{% url 'course_list_subject' subject.slug %}">
          {{ subject.title }}
        </a>
        Количество модулей - {{ course.total_modules }}.
        Преподователь - {{ course.owner.get_full_name }}.
      </p>
      {{ object.overview|linebreaks}}
      {% if request.user.is_authenticated %}
        {% if request.user in course.students.all %}
          <div class="alert alert-success" role="alert">
          Вы уже подписаны на этот курс перейдите в <a href="{% url 'student_course_list' %}">мои курсы</a> чтобы посмотреть.
          </div>
        {% else %}
          <form action="{% url 'student_enroll_course' %}" method="post">
            {% csrf_token %}
            {{ enroll_form }}
            <button class="btn btn-success" type="submit"><i class="bi bi-person-add"></i> Подписаться</button>
          </form>
        {% endif %}
      {% else %}
        <a href="{% url 'account_signup' %}">Зарегистрируйтесь чтобы записаться</a>
      {% endif %}
    </div>
  {% endwith %}

{% endblock %}