{% extends "base.html" %}
{% load cache %}

{% block title %}
  {% if subject %}
    {{ subject.title }} курсы
  {% else %}
    Все курсы
  {% endif %}
{% endblock title %}

{% block content %}

    {# TOP #}
    <div class="row">
      <h1 class="bg-secondary p-2 text-dark bg-opacity-10">
      {% if subject %}
        {{ subject.title }} курсы
      {% else %}
        Все курсы
      {% endif %}
      </h1>
    </div>

    {# SIDEBAR col-md-4 #}
    <div class="row">
      <div class="col-md-3">
        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-secondary p-2 text-dark bg-opacity-10 sticky-md-top">
          <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
            <span class="fs-5 fw-semibold"><i class="bi bi-stack"></i> Темы</span>
          </a>

          <div class="list-group list-group-flush border-bottom scrollarea">

            <a href="{% url 'course_list' %}"
               {% if not subject %} class="list-group-item list-group-item-action active py-3 lh-tight"
               {% else %} class="list-group-item list-group-item-action py-3 lh-tight" {% endif %} aria-current="true">

              <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">Все</strong>
                {# <small>Посл. обновление</small> #}
              </div>
               <div class="col-10 mb-1 small">
                Все последнии курсы.
               </div>
            </a>

            {% for s in subjects %}
              <a href="{% url 'course_list_subject' s.slug %}"
                 {% if s == subject %} class="list-group-item list-group-item-action active py-3 lh-tight"
                 {% else %} class="list-group-item list-group-item-action py-3 lh-tight" {% endif %} aria-current="true" >
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">{{ s.title }}</strong>
                  {# <small>{{ s.courses.last.created|date:"d M Y" }}</small> #}
                </div>
                <div class="col-10 mb-1 small">
                  Количество курсов- {{ s.total_courses }}.
                </div>
              </a>
            {% endfor %}

          </div>
        </div>
      </div>

      {# MAIN CONTENT #}
      <div class="col-md-9">
        {% for course in courses %}
            <div class="list-group-item">
            {% with subject=course.subject %}
              <h3>
                <a href="{% url 'course_detail' course.slug %}">
                  {{ course.title }}
                </a>
              </h3>
              <p>
                <a href="{% url 'course_list_subject' subject.slug %}">
                  {{ subject.title }}</a>.
                  Количество модулей - {{ course.total_modules }}.
                  Преподователь: {{ course.owner.get_full_name }}
              </p>
            {% endwith %}
            </div>
        {% endfor %}
      </div>
    </div>

{% endblock content %}


    <div class="row">
      <div class="col-3 bg-success p-2 text-dark bg-opacity-10">
        <h3>Темы</h3>
        <ul id="modules">
          <li {% if not subject %} class="selected" {% endif %}>
            <a href="{% url 'course_list' %}">Все</a>
          </li>
          {% for s in subjects %}
            <li {% if s == subject %} class="selected" {% endif %}>
              <a href="{% url 'course_list_subject' s.slug %}">
                {{ s.title }}
                <br>
                <span>
                  Количество курсов- {{ s.total_courses }}
                </span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>