{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
  Редактирование курса {{ course.title }}
{% endblock title %}

{% block content %}
  <h1>Редактирование курса {{ course.title }}</h1>
  <div class="module">
    <h2>Модули курса</h2>
    <form method="post">
        {{ formset|crispy }}
        {{ formset.management_form|crispy }}
        {% csrf_token %}
        <input class="btn btn-success" type="submit" value="Сохранить модули">
    </form>
  </div>
{% endblock content %}