{% extends "base.html" %}
{% load crispy_forms_tags %}



{% block content %}
  <h2>{{ task.title }}</h2>
  {{ task.content.html|safe }}
  {% if task.file %}
    Прикрепленный файл: <a href="{{ task.file.url }}" class="button"> Скачать</a>
  {% endif %}
  <p>Максимальный балл: {{ task.max_score }}</p>
  {% with deadline=task.deadline %}
  <p>
  {% if deadline == None %}
    Срок сдачи: Бессрочно
  {% else %}
    Срок сдачи: {{ deadline }}
  {% endif %}
  </p>
  {% endwith %}

  <head>
    {{ form.media }}
  </head>
  <h1>
    Форма ответа:
  </h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Сохранить</button>
    {% if object %}
    <a href="{% url 'student_answer_delete' task.pk object.pk %}" class="btn btn-danger"><i class="bi bi-trash3"></i> Удалить</a>
    {% endif %}
  </form>


{% endblock content %}