{% extends "base.html" %}
{% load cache %}
{% load course %}
{% load has_answer %}

{% block title %}
  {{ object.title }}
{% endblock title %}

{% block content %}

  {# TOP #}
  <div class="row">
    <h1 class="bg-secondary p-2 text-dark bg-opacity-10">{{ object.title }}</h1>
  </div>


  {# SIDEBAR col-md-4 #}
  <div class="row">
    <div class="col-md-3">
      <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-secondary p-2 text-dark bg-opacity-10">
        <a href="#" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
          <span class="fs-5 fw-semibold"><i class="bi bi-stack"></i> Модули курса</span>
        </a>
        <div class="list-group list-group-flush border-bottom scrollarea">
          {% for m in object.modules.all %}
            <a href="{% url 'student_course_detail_module' object.id m.id %}"
               {% if m == module %} class="list-group-item list-group-item-action active py-3 lh-tight"
               {% else %} class="list-group-item list-group-item-action py-3 lh-tight" {% endif %} aria-current="true">

              <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">Модуль {{ m.order|add:1 }}</strong>
                <small> </small>
              </div>
              <div class="col-10 mb-1 small">
                {{ m.title|truncatechars:50 }}.
              </div>
            </a>
          {% empty %}
            Ничего нет
          {% endfor %}
        </div>
      </div>
    </div>

    {# MAIN CONTENT #}
    <div class="col-md-9">
      {# {% cache 600 module_contents module %} #}
      {% for content in module.contents.all %}
        {% with item=content.item %}
          <div class="my-4">
            <h2>{{ item.title }}</h2>
            {{ item.render }}

            {# Если item = task то проверить задание, добавить кнопки #}
            {% if item|model_name == "task" %}

              {# Если пользователь уже ответил на этот вопрос #}
              {% with answer=request.user|has_answer:item %}
                {% if answer %}
                  <div class="my-3">
                    {# Если на ответ поставили балл #}
                    {% if answer.score %}
                      <a href="{{ answer.get_success_url }}" class="btn btn-success"><i class="bi bi-check-circle"></i> Просмотреть ваш ответ</a>
                      <p class="my-3 alert alert-success"><strong>Ваш балл:</strong> {{ answer.score }}</p>
                      <p class="my-3"><strong>Дата проверки:</strong> {{ answer.check_date }}</p>
                    {# Если ему не поставили балл и deadline еще не истек #}
                    {% elif item.deadline > now or item.deadline == None %}
                      <p class="my-3">
                        <a href="{% url 'student_answer_update' item.pk answer.pk %}" class="btn btn-warning"><i class="bi bi-pencil"></i> Редактировать ответ</a>
                      </p>
                    {# Если deadline истек, а балл не был поставлен #}
                    {% elif item.deadline < now %}
                      <a href="{{ answer.get_success_url }}" class="btn btn-success"><i class="bi bi-check-circle"></i> Просмотреть ваш ответ</a>
                      <p class="my-3 alert alert-info"><strong>Ваш балл:</strong> проверяется</p>
                    {% endif %}
                  </div>
                {# Если просмотр делает автор курса #}
                {% elif course.owner == request.user %}
                  <p class="my-3">Количество ответов: {{ item.answers.count }}</p>
                  <a href="{% url 'module_task_detail' module.pk item.pk %}" class="btn btn-primary"><i class="bi bi-card-checklist"></i> Все ответы студентов</a>
                {# Если это не owner; если не ответа #}
                {% else %}
                  {% if item.deadline < now %}
                    <p class="my-3 alert alert-danger">
                      <i class="bi bi-exclamation-circle"></i> Срок сдачи истек!
                    </p>
                  {% else %}
                    <p class="my-3">
                      <a href="{% url 'student_answer_new' item.pk %}" class="btn btn-primary"><i class="bi bi-pencil"></i> Дать ответ</a>
                    </p>
                  {% endif %}
                {% endif %}
              {% endwith %}
            {% endif %}
          </div>
        {% endwith %}
      {% empty %}
        <p class="my-4">Этот модуль еще не содержит материала</p>
      {% endfor %}

      {# {% endcache %} #}
    </div>
  </div>

{% endblock content %}
    


          