{% extends "base.html" %}
{% load cache %}
{% load course %}
{% load has_answer %}

{% block title %}
  {{ object.title }}
{% endblock title %}

{% block content %}

  {# TOP #}
  <div class="row">
    <h1 class="bg-secondary p-2 text-dark bg-opacity-10">{{ object.title }}</h1>
  </div>


  {# SIDEBAR col-md-4 #}
  <div class="row">
    <div class="col-md-3">
      <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-secondary p-2 text-dark bg-opacity-10 sticky-md-top">
        <a href="#" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
          <span class="fs-5 fw-semibold"><i class="bi bi-stack"></i> Модули курса</span>
        </a>
        <div class="list-group list-group-flush border-bottom scrollarea">
          {% for m in object.modules.all %}
            <a href="{% url 'student_course_detail_module' object.id m.id %}"
               {% if m == module %} class="list-group-item list-group-item-action active py-3 lh-tight"
               {% else %} class="list-group-item list-group-item-action py-3 lh-tight" {% endif %} aria-current="true">

              <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">Модуль {{ m.order|add:1 }}</strong>
                <small> </small>
              </div>
              <div class="col-10 mb-1 small">
                {{ m.title|truncatechars:50 }}.
              </div>
            </a>
          {% empty %}
            Ничего нет
          {% endfor %}
        </div>
      </div>
    </div>

    {# MAIN CONTENT #}
    <div class="col-md-9">

      {# navigation #}
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'student_course_list' %}">Мои курсы</a></li>
          {% if object.owner == request.user and module %}
            <li class="breadcrumb-item"><a href="{% url 'manage_course_list' %}">Управление курсами</a></li>
            <li class="breadcrumb-item"><a href="{% url 'module_content_list' module.pk %}">Управление курсом</a></li>
          {% endif %}
          <li class="breadcrumb-item active" aria-current="page">{{ object.title }}</li>
        </ol>
      </nav>

      {# {% cache 600 module_contents module %} #}
      {% for content in module.contents.all %}
        {% with item=content.item %}
          <div class="my-4">
            <h2>{{ item.title }}</h2>
            {{ item.render }}

            {# Если item == task то проверить задание, время, балл, предоставить кнопки и т.д. #}
            {% if item|model_name == "task" %}
              {% include "accounts/course/task_user_interface.html" %}
            {% endif %}

            {# Если item == "quiz" показать результаты теста, предоставить интерфейс #}
            {% if item|model_name == "quiz" %}
              {% include "accounts/course/quiz_user_interface.html" %}
            {% endif %}

          </div>
        {% endwith %}
      {% empty %}
        <p class="my-4">Этот модуль еще не содержит материала</p>
      {% endfor %}

      {# {% endcache %} #}
    </div>
  </div>

{% endblock content %}
    


          