.scrollarea {
    overflow-y: auto;
    max-height: 80vh;
}

img {
    max-width: 100%;
    height: auto;
    overflow-clip-margin: content-box;
    overflow: clip;
}

/*
#chat {
    top: 64px;
    bottom:0;
    position:fixed;
    width:100%;
    overflow-y:scroll;
    padding-bottom:150px;
}*/
