{% extends "base.html" %}
{% load static %}

{% block include_js %}
    <script src="{% static 'js/quizes/quiz.js' %}" defer></script>
{% endblock include_js %}

{% block title %}
{{ obj.title }}
{% endblock title %}

{% block content %}
<b>{{ obj.title }}</b>
<p>Процент правильных ответов для прохождения теста: {{ obj.required_score_to_pass }}%</p>
<form id="quiz-form" class="mt-3 mb-3">
    {% csrf_token %}
    <div id="quiz-box"></div>
    <button type="submit" class="btn btn-primary mt-3">Закончить тест</button>
</form>
<div id="score-box"></div>
<div id="result-box"></div>
{% endblock content %}