{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block title %}
  {% if object %}
    Редактирование содержимого "{{ object.title }}"
  {% else %}
    Добавление нового контента
  {% endif %}
{% endblock title %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'module_content_list' module.pk %}">Управление курсом</a></li>
      <li class="breadcrumb-item active" aria-current="page">Редактирование/Добавление контента</li>
    </ol>
  </nav>

  <h1>
    {% if object %}
      Редактирование содержимого "{{ object.title }}"
    {% else %}
      Добавление нового контента
    {% endif %}
  </h1>
  <head>{{ form.media }}</head>

    <h2>Форма:</h2>
    <form method="post" enctype="multipart/form-data">
        {{ form|crispy }}
        {% csrf_token %}
      <p><input class="btn btn-success" type="submit" value="Сохранить контент"></p>
    </form>

{% endblock content %}