{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  {% if object %}
    Редактирование содержимого "{{ object.title }}"
  {% else %}
    Добавление нового контента
  {% endif %}
{% endblock title %}

{% block content %}
  <h1>
    {% if object %}
      Редактирование содержимого "{{ object.title }}"
    {% else %}
      Добавление нового контента
    {% endif %}
  </h1>
  <head>{{ form.media }}</head>

    <h2>Контент</h2>
    <form method="post" enctype="multipart/form-data">
        {{ form|crispy }}
        {% csrf_token %}
      <p><input class="btn btn-success" type="submit" value="Сохранить контент"></p>
    </form>

{% endblock content %}